---
on: # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      name:
        type: string
        required: true
      check-regexp:
        type: string
        required: false
        default: "(CI done|tests)"

jobs:
  action:
    runs-on: ubuntu-22.04
    if: github.actor == 'dependabot[bot]'
    steps:
      - name: Checkout project
        uses: actions/checkout@v3
      - name: Wait for CI
        uses: lewagon/wait-on-check-action@v1.3.4
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          wait-interval: 10
          running-workflow-name: ${{ inputs.name }} / action
          check-regexp: ${{ inputs.check-regexp }}
          allowed-conclusions: success,skipped
      - name: Get dependabot metadata
        id: metadata
        uses: dependabot/fetch-metadata@v1
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - name: Enable auto-merge for Dependabot PRs
        if: steps.metadata.outputs.update-type == 'version-update:semver-patch'
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: gh pr merge --auto --squash "$PR_URL"
