---
on: # yamllint disable-line rule:truthy
  workflow_call:
    inputs:
      cmd:
        description: Command to run action with
        required: true
        type: string

jobs:
  action:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout project
        uses: actions/checkout@v4
      - name: Setup project
        uses: danielkjellid/github-actions/.github/actions/setup-node@main
      - name: Running ${{ inputs.cmd }}
        shell: bash
        run: ${{ inputs.cmd }}
